{% extends "mainApp/wrapper.html" %}

{% block content %}
	{% if сategory_list %}
		{% for сategory in сategory_list %}
			<h1>{{сategory.title}}</h1>
			{% for article in сategory.articles_set.all %}
				<a href="/news/{{article.id}}"><h3>{{article.title}}</h3></a>
			{% endfor %}
		{% endfor %}
	{% else %}
		<h1>Список новостей пока пуст, но может вы можете это иисправить?</h1>
	{% endif %}
{% if is_paginated %}
<div class="pagination">
    <span class="page-links">
        {% if page_obj.has_previous %}
            <a href="/news?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="page-current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>
        {% if page_obj.has_next %}
            <a href="/news?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endif %}
{% endblock %}