{% extends "mainApp/wrapper.html" %}


{% block content %}
<!-- Start home section -->
<div id="home">
    <!-- News-->
    {% if category_list %}
        {% for category in category_list %}
            <!-- Start cSlider -->
            <div id="da-slider" class="da-slider">
                <div class="triangle"></div>
                <!-- mask elemet use for masking background image -->
                <div class="mask"></div>
                <!-- All slides centred in container element -->
                <div class="container">
                    {% for article in category.articles_set.all %}
                    <!-- Start slide -->
                        <div class="da-slide">
                            <h2 class="fittext2">{{article.title}}</h2>
                            <h4>{{article.pub_date|date:"d-m-Y"}}</h4>
                            <p>{{article.text|safe|linebreaks}}</p>
                            <a href="/news/{{article.id}}" class="da-link button">Read more</a>
                            <div class="da-img">
                                {% if article.image %}
                                    <img src="{{article.image}}" alt="{{article.title}}" style="width: 320px; height: 250px;">
                                {% else %}
                                    <img data-src="holder.js/200x250?theme=thumb" alt="{{article.title}}" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22200%22%20height%3D%22250%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20250%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16a2ec66c6a%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A13pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16a2ec66c6a%22%3E%3Crect%20width%3D%22200%22%20height%3D%22250%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2256.203125%22%20y%3D%22131%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" style="width: 300px;">
                                {% endif %}
                            </div>
                        </div>
                    <!-- End slide -->
                    {% endfor %}
                    <!-- Start cSlide navigation arrows -->
                    <div class="da-arrows">
                        <span class="da-arrows-prev"></span>
                        <span class="da-arrows-next"></span>
                    </div>
                    <!-- End cSlide navigation arrows -->
                </div>
            </div>
            <!-- End cSlider -->
        {% endfor %}
    {% endif %}
    <div>
        {% if category_list %}
        <nav class="blog-pagination">
            {% if category_list.has_previous %}
            <a class="btn btn-outline-primary" href="/news?page={{ category_list.previous_page_number }}">Older</a>
            {% else %}
            <a class="btn btn-outline-primary disabled" href="">Older</a>
            {% endif %}
            {% for i in category_list.paginator.page_range %}
            {% if category_list.number == i %}
            <span class="active">{{ i }} <span class="sr-only">(current)</span></span>
            {% else %}
            <a href="?page={{ i }}">{{ i }}</a>
            {% endif %}
            {% endfor %}
            {% if category_list.has_next %}
            <a class="btn btn-outline-secondary" href="/news?page={{ category_list.next_page_number }}">Newer</a>
            {% else %}
            <a class="btn btn-outline-secondary disabled" href="">Newer</a>
            {% endif %}
        </nav>
        {% endif %}
    </div>
</div>
<!-- End home section -->
{% endblock %}